.axis text {
    font: 1em sans-serif;
    font-family: 'Poiret One', cursive;
}

.axis .label {
    font-size: 2em;
    font-weight: 700;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.sidebar {
    display: inline;
    fill: black;
}

.categorylabel{
    font-family: sans-serif;
    font-size: 1.2em;
}

.categorydata{
    font-family: sans-serif;
}

.container{
    max-width: 900px;
    min-width: 550px;
}